@font-face {
    font-family: ProximaNova;
    src: url(./fonts/ProximaNovaRegular.otf);
    font-weight: normal;
}

@font-face {
    font-family: ProximaNova;
    src: url(./fonts/SourceSansPro-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: SourceSansPro;
    src: url(./fonts/SourceSansPro-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: SourceSansPro;
    src: url(./fonts/SourceSansPro-Bold.ttf);
    font-weight: bold;
}

body{
    margin: 0%;
    font-family: 'SourceSansPro', serif;
}

header{
    background: url('./images/bg.png') bottom center no-repeat;
    background-size: cover;
    height: 750px;
}

#topbar{
    height: 10px;
}

nav#main{
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#logo{
    display: block;
    border-radius: 100%
}

#logo img{
    display: block;
}

.container{
    margin: 0 auto;
}

#top-menu a{
    position: absolute;
}

#top-menu{
    position: absolute;
    list-style: none;
    height: 44px; 
    padding: 0;
    margin-top: 45px;   
}


#top-menu li{
    display: inline-block; 
    
}

#top-menu h3{
    font-size: 12px;
    color: white;
    margin: 0;
    margin-left: 26px;
    letter-spacing: 2px;  
}

#top-menu #first{
    float: left;
}
#top-menu #second{
    text-align: right;
    float: right;
}

#top-menu h2{
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    color: white;
    margin: 0;
}

#register-login{
    display: none;
}
#language{
    visibility: hidden;
}

#main-menu{
    margin: 0;
    padding: 0 20px 0 270px;
    display: none;
    justify-content: space-between;
    align-items: left;
    height: 60px;
    list-style: none;   
}

#main-menu.show{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 360px;
    width: 100%;
    z-index: 1; /* Sit on top */
    padding: 0 0 240px 0;
    transform: translateX(20px);    
}
#dropdown.show{
    background-color: brown;
}

/*.hamburger{
    background-color: transparent;
    border: 0;
    color: white;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: block;
    float: right;
    padding: 0;
}*/

#hamburger{
    color: white;
    font-size: 24px;
    float: right;
    cursor: pointer;
    padding-right: 10px;
}

#responsive-main-menu{
    display: block;   
    cursor: pointer;
}

#responsive-closebtn{
    background-color: #F8F8F8;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}

.closebtn{
    position: relative;
    font-size: 20px;
    visibility: visible;  
}


#main-menu li{
    margin: 0 15px;
}

#main-menu a{
    display: block;
    color: #002868;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

#main-menu a:hover{
    color: #BF0A30;
}

#dropdown{
    position: absolute;
    background-color: white;
    list-style: none;
    border-radius: 4px;
    width: 275px;
    height: 365px;
    padding-left: 0px;
    padding-top: 6px ;
    padding-bottom: 23px;
    margin-top: 31px;
    margin-left: -10px;
    opacity: 0;
}

#dropdown li{
    padding-left: 20px;
    padding-top: 10px;
}

#main-menu li:hover #dropdown{
    opacity: 1;
}



#featured{
    background: url(./images/circle.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width: 280px;
    height: 280px;
    margin: 70px auto 0;
    border: 6px solid #FFFFFF;
    border-radius: 100%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.25 );
    text-align: center;
    color: white;
    padding: 40px;
}

#featured h3{
    margin: 4px 0 15px;
    font-size: 12px;
    letter-spacing: 2px;
} 

#featured h2{
    margin: 0 0 15px;
}

#featured p{
    font-size: 14px;
    margin: 20px 0 30px;
    line-height: 15px;
    overflow: hidden;
}

#featured a{
    border-radius: 4px;
    border: 1px solid white;
    font-size: 16px;
    color: white;
    width: 200px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;

} 

/* Section 1 */
#section-1{
    background: url(./images/bg1.png) bottom center no-repeat;
    background-size: cover;
    height: 744px;
}

#tree{
    position: relative;
    background: url(./images/tree.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width: 255px;
    height: 142px;
    margin: 0 auto;
    top: 40px;
}

#title h1{
    position: relative;
    color: #BF0A30;
    width: 320px;
    height: 86px;
    padding-top: 70px;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 43px;
    text-align: center;
    margin: 0 auto;
}

.container-details{
    position: relative;
    /*display: flex;*/
    width: 275px;
    height: 285px;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
}    

#text1{
    position: relative;
    display: block;
    width: 275px;
    height: 285px;
    margin-top: 14px;
    /*left: 232px;*/
    text-align: center;
}

#text1 h2{
    color: #002868;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;     
}

#text1 p{ 
    color: #333333;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    margin-top: 0px;
    margin-bottom: 0; 
}

#text1 h3{
    color: #333333;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;    
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

#text2{
    position: relative;
    width: 475px;
    height: 235px;
    margin-top: 40px;
    margin-left: 60px;
    /*left: 292px;*/
    visibility: hidden;
}

#text2 h2{
    color: #002868;
    width: 460px;
    height: 40px;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;     
}

#text2 ul{
    padding: 0;
    color: #333333;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    top: 20px; 
    list-style: none;
}

#text2 ul li{
    position: relative;
    
}

#text2 li:before{
    content: '\203A';
    font-size: 25px;
    color: #002868;
    padding-right: 5px;
}

#text2 #element-1{
	padding-bottom: 10px;
}

#text2 #element-2{
	padding-bottom: 5px;
}

#text2 #element-4{
    padding-bottom: 10px;  
}

.container-date{
    position: relative;
    margin-top: 30px;
}

#text3{ 
    text-align: center;
    margin: 0 auto; 
    width: 184px;
    height: 121px;     
}

#text3 h2{
    color: #BF0A30;
    height: 20px;
    width: 141px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px; 
    margin: 0 auto;

}

#text3 h1{
    color: #002868;
    height: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 5px;
}

#text3 h3{
    color: #002868;
    height: 20px;
    left: 174px;
    right: 174px;
    font-size: 18px;
    line-height: 20px;
    margin: 0 auto;
    margin-top: 9px;
}
/* End of Section 1 */

/* Section 2 */
#section-2{
    background-color: #002868;
    background-size: cover;
    height: 650px;
}

#section-title{
    width: 178px;
    height: 49px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 40px;
    text-align: center;
}

#section-title h3{
    color: white;
    height: 15px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 10px;
    margin: 0 auto;
}

#cards-wrapper{
    display: flex;
    /*justify-content: space-evenly;*/
    justify-content: center;
}

#card{
    position: relative;
    width: 300px;
    height: 413px;
}

#card + #card{
    padding: 0 0 0 20px;
}

#card-image{
    width: 300px;
    height: 200px;
}

#card h1{
    color: white;
    font-size: 24px;
    line-height: 30px;
}

#card p{
    color: white;
    font-size: 16px;
    line-height: 25px;
}


#card a{
    background-color: #002868;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    width: 210px;
    color: white;
    text-decoration: none;
}

#card-button{
    display: flex;
}

#red-line{
    background: #BF0A30;
    width: 18px;
    height: 2px;
    box-sizing: border-box;
    border-radius: 2px; 
}    
#red-line-box{
    padding-top: 7px;
    margin-right: 8px;
    margin-left: 8px;
    
}

#button{
    text-align:  center;
    margin-top: 28px;
}

#button a{
    border-radius: 4px;
    border: 1px solid white;
    font-size: 16px;
    color: white;
    width: 280px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}
/* End of Section 2 */

/* Section 3 */
#section-3{
    background-color:white ;
    background-size: cover;
    height: 643px;
}

#contact-form{
    position: relative;
    width: 280px;
    height: 378px;
    margin: 0 auto;
    padding-top: 62px ;
}

#contact-form h1{
    color: #002868;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 20px; 
}

#contact-form-line-top{
    width: 740px;
    height: 1px;
    background: #EEEEEE;
}

#contact-form-line-bottom{
    width: 740px;
    height: 1px;
    background: #EEEEEE;
    margin-top: 29px;
    margin-bottom: 19px;
}

#contact-form input[type=text],input[type=tel], input[type=email] {
    border: 1px solid #979797;
    border-radius: 4px;
    width: 100%;
    height: 46px;

}

#contact-elements h2{
    color: #333333;
    width: 240px;
    height: 15px;
    left: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.15px;
    margin: 0;
    padding-top: 15px ;
    padding-bottom: 4px ;
}

#contact-form input[type=submit]{
    background-color: #BF0A30;
    border: none;
    border-radius: 4px;
    width: 130px;
    height: 50px;
    cursor: pointer;
    float: right;
    color: #FFFFFF;
    font-family: SourceSansPro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;   
}
/* End of Section 3 */

/* Section 4 */
#section-4{
    background-color: #002868;
    background-size: cover;
    height: 630px;
}

#round-button{
    position: absolute;
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow:hidden;       
    background: #BF0A30;
    /*transform: translateY(-50%) translateX(-50%);*/
    transform: translateY(1250%);
}

#circle{
    float: right;
    margin-right: 100px;  
}

#button-top {
    color:white;
    font-size: 35px;
    text-decoration: none;
    display: inline-block;
    transform: rotate(270deg);
    width: 20px;
    height: 30px;
}

#logo-img{
    display: block;
    margin: auto;
    padding-top: 30px;
}

#PAF{
    display: block;
    margin: auto;
    padding-top: 20px; 
}


#social-icons{
    margin-top: 27px;
    margin-bottom: 30px;
}

#social-icons ul{
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

#icon + #icon{
    padding: 0 0 0 30px;
}

#social-icons a{
    background: white;
    color: #002868;
    width: 20px;
    height: 20px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

nav#main-menu-footer{
    height: 246px;
    background:none;
    position: relative;
}

#main-menu-footer ul{
    justify-content: space-evenly;
    height: 30px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    padding-left: 68px;
    padding-right: 71px; 
    line-height: 210%;
}

#main-menu-footer li{
    margin: 0 15px;
}

#main-menu-footer a{
    color: white;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    text-decoration: none;
}

#main-menu-footer a:hover{
    color: #BF0A30;
}


#footer-paragraph {
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    mix-blend-mode: normal;
    opacity: 0.5;
}

/* End of Section 4 */


/*Responsive */
@media (min-width: 640px){
    .container{
        width: 600px;
    }

    #top-menu{
        position: absolute;
        list-style: none;
        width: 500px;
        height: 44px; 
    }
  
    /* Section 1 */
    #title h1{
        width: 615px;
        height: 50px;
        font-size: 48px;
        line-height: 50px;
        padding-top: 80px;
    }

    .container-details{
        width: 464px;
        height: 315px;
        justify-content: center;
    }

    #text1{
        width: 464px;
        height: 245px;
    }
    /* End Section 1 */

}

@media (min-width: 960px){
    .container{
        width: 920px;
    }

    #topbar{
        height: 70px;
    }

    #main-menu{
        display: flex;
        align-items: center;
    }

    nav#main{
        background: white;
        display: block;
    }

    #hamburger{
        display: none;
    }


    #responsive-main-menu{
        display: none;
    }


    #logo{
        position: absolute;
        border: 10px solid #AA0427;
        left: 50px; 
        top: 50%;
        transform: translateY(-50%);
    }

    #register-login{
        position: relative;
        color: white;
        line-height: 18px;
        display: inline-flex;
        text-decoration: none;
        font-family: SourceSansPro;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        top: 26px;
        left: 700px;
    }

    #language{
        position: relative;
        top: 23px;
        left: 730px;
        visibility: visible;
    }
    
    #top-menu{
        position: absolute;
        margin: 0 auto;
        padding: 0;
        width: 1078px;
        height: 44px;
        margin-right: 97px;
        margin-left: 225px;
        margin-top: 14px;
        list-style: none;
    }

    #top-menu li{
        padding-left: 20px;
    }

    #top-menu #first{
        float: none;
    }
    #top-menu #second{
        float: none;
    }

    #featured{
        width: 410px;
        height: 410px;
    }

    #featured h3{
        margin: 10px 0 30px;
    } 

    #featured h2{
        margin: 0 0 30px;
    }
    
    #featured p{
        font-size: 16px;
        margin: 20px 0 30px;
        line-height: 30px;
    }



    /* Section 1 */
    #text2{
        visibility: visible;  
    }
    
    #text1{
        text-align: left;
        width: 464px;
        height: 245px;
        margin-top: 40px;
    }

    .container-details{
        display: flex;
        width: 1260px;
        height: 315px;
        justify-content: center;
    }

    #text1 p{ 
        margin-bottom: 15px;
    }

    #text1 h3{
        margin-bottom: 15px;
    }


    #text3{  
        width: 440px;
        height: 97px;    
    }
  
    #text3 h1{
        height: 43px;
        font-size: 34px;
        line-height: 43px;
    }
    /*End Section 1 */

    /* Section 2 */
    #button a{
        width: 200px;
        height: 50px;
    }
    /* End Section 2 */

    /* Section 3 */
    #contact-form{
        width: 740px;
        height: 457px;
    }

    #contact-form input[type=submit]{
        width: 240px;
        height: 50px;
    }
    /* End Section 3 */

    /* Section 4 */
    #section-4{
        height: 420px; 
    }

    #round-button{
        transform: translateY(-50%) translateX(-50%);
    }

    #main-menu-footer ul{
        display: flex;
        padding-left: 180px;
        padding-right: 179px;
        line-height: 0%;
    }

    nav#main-menu-footer{
        height: 30px;
    }
    /*End Section 4 */


}

@media (min-width: 1280px){
    .container{
        width: 1240px;
    }

    #main-menu{
        padding: 0 40px 0 300px;
    }

    #main-menu li{
        margin: 0;
    }

    #main-menu a{
        font-size: 14px;
    } 

    #register-login{
        position: relative;
        color: white;
        line-height: 18px;
        display: inline-flex;
        text-decoration: none;
        font-family: SourceSansPro;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        top: 26px;
        left: 1000px;
    }

    #language{
        position: relative;
        top: 23px;
        left: 1030px;
    }


    /* Section 1 */
    .container-details{
        display: flex;
        width: 1460px;
        height: 315px;
        justify-content: center;
    }
    /* End Section 1 */

    /* Section 4 */
    #main-menu-footer li{
        margin: 0;
    }

    /*End Section 4 */    
    
}